.notebook-image
{
  background-image: url("/assets/imagens/fundo2.jpg");
  height: 720px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% -10%;
  position: relative;
}

article {
  padding-top: 50px;
}

article#tecnicas {
  color: azure;
  background-color: #222222;
}

article#tecnicas p {
  color: black;
}

article#tecnicas img {
  max-height: 350px;
}

article#sobre {
  color: azure;
  background-color: #222222;
}
