<section  data-spy="scroll" data-target=".navbar" data-offset="10" id="mainNav">
  <article id="carrocel">
    <div class="container">
      <div class="row justify-content-center">
        <div class="bd-example">
          <div id="carouselWayOfWork" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselWayOfWork" data-slide-to="0" class="active"></li>
              <li data-target="#carouselWayOfWork" data-slide-to="1"></li>
              <li data-target="#carouselWayOfWork" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="max-height: 212;" src="assets/imagens/post-scrum.png" class="d-block" alt="...">
                <!-- <div style="color: black;" class="carousel-caption d-none d-md-block">
                  <h5>Entregas a cada 14 dias</h5>
                <p>No final de cada sprint estaremos entregando algo novo para seu site</p> -->
                </div>
              </div>
              <div class="carousel-item">
                <img style="max-height: 212;" src="assets/imagens/ordem-de-pagamento.jpg" class="d-block" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>Pague somente aquilo que você aprovar</h5>
                  <p>Na reunião de entrega lhe mostraremos tudo o que fizemos, caso haja algo que você não aprove, não pague</p>
                </div> -->
              </div>
              <div class="carousel-item">
                <img style="max-height: 212;" src="assets/imagens/Meu Site  Trello - Google Chrome.jpg" class="d-block" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                  <h5>Acompanhe nosso trabalho</h5>
                  <p>Acompanhe o que estamos fazendo via reunião diária e Trello</p>
                </div>
              </div> -->
            </div>
            <a class="carousel-control-prev" href="#carouselWayOfWork" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselWayOfWork" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
    <article id="tecnicas">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              Técnicas de Desenvolvimento
              <br/>
            </h1>
            <br/>
          </div>
          <div class="col-md-4">
            <a name="search-engine" routerLink="/" routerLinkActive="active" class="btn btn-primary btn-block mt-3" role="button">SEO</a><br/>
            <a name="responsivity" routerLink="/responsividade" routerLinkActive="active" class="btn btn-dark btn-block" role="button">Responsividade</a><br/>
            <a name="spa" routerLink="/spa" routerLinkActive="active" class="btn btn-success btn-block" role="button">SPA</a><br/>
          </div>
          <div class="col-md-8">
            <router-outlet></router-outlet>
          </div>
        </div>
        </div><br/>
</article>

<article id="portfolio">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>
                    Portfólio
                    <br/>
                    <small class="mb-2">
                      Nossos últimos trabalhos
                    </small>
                </h1>
            </div>
            <div class="card mb-3" style="width: 60rem;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="./assets/imagens/primeiro-trabalho.png" class="card-img" alt="Imagem do website da Recond Embreagem">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Recond Embreagem</h5>
                    <p class="card-text">Uma empresa especializada em recondicionamento de embreagem de caminhões, platôs e retíficas de voltante</p>
                    <a style="float: right;" target="_blank" href="https://eltonpds.github.io/recond-embreagem/" class="btn btn-primary mt-3">Visite a página</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</article>

<article id="sobre">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                    Sobre
                    <br/>
                    <small>
                        O criador do site
                    </small>
                </h1>
                <img src="./assets/imagens/perfil.jpeg" class="img-responsive img-circle" width="15%">
                <br/>

                <p class="text-justify">Sempre fui apaixonado por tecnologia. Comecei fazendo bicos de manutenção de computadores e notebook para amigos e familiares que me incentivou a estudar ainda mais sobre o assunto dando início a um aprendizado sem fim.</p>
                <p class="text-justify">A necessidade de aprender mais, obter mais conhecimento técnico para ter mais confiança no que estava fazendo e na grande demanda de profissionais qualificados na área me despertou o interesse de cursar <strong>Sistemas de Informação</strong>. Ampliou meus horizontes, despertou ainda mais desejo de me aprofundar na área e aprender um pouco soubre tudo.</p>
                <p class="text-justify">A paixão por tecnologia e a curiosidade de como se cria Websites fez com que buscasse aprender como se cria sites visando também a oportunidade de trabalhar na área, procurar clientes que possuem lojas, micro e pequenas empresas que não possuem websites e estão precisando de um para serem vistos nesse mercado digital. </p>
            </div>
        </div>
    </div>

</article>

<article id="contato" class="container-fluid">
    <div>
        <h1 class="text-center">Contato</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Entre em contato e responderemos dentro de 24 horas.</p>
            <p><i class="fas fa-map-marked-alt"></i> Recife, PE</p>
            <p><span class="fas fa-phone"></span> (81) 9 8133 6252</p>
            <p><span class="fas fa-envelope"></span>  eltonpereira505@gmail.com</p>
        </div>

        <div class="col-sm-6 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
                </div>

                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="E-mail" type="email" required>
                </div>
            </div>

            <textarea class="form-control" id="comments" name="comments" placeholder="Digite seu texto aqui" rows="5">
            </textarea><br/>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-dark pull-right mb-2" style="float: right;" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</article>
</section>
