article#tecnicas {
  color: azure;
  background-color: #222222;
  padding-top: 50px;
}

article#tecnicas p {
  color: black;
}

article#tecnicas img {
  max-height: 350px;
}

article#sobre {
  color: azure;
  background-color: #222222;
  padding-top: 50px;
}
