<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-2">
  <a class="navbar-brand" href="#">Elton Santos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active ml-auto">
        <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tecnicas">Técnicas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfólio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#sobre">Sobre</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#contato">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/curriculo-digital">Currículo Digital</a>
    </li>
    </ul>
  </div>
</nav>
