<div id="home">

</div>

<section  data-spy="scroll" data-target=".navbar" data-offset="10" id="mainNav">
    <article id="tecnicas">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>
                        Técnicas de Desenvolvimento
                        <br/>
                    </h1>
                    <br/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-justify">
                        <img src="../../../assets/imagens/SPAvsMPA.png" id="spa" class="img-square img-responsive card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-center">SPA</h3>

                            <p class="card-text">As aplicações de páginas simples (do inglês: Single Page Application) tendem a ser mais leves e rápidos pois as páginas ou componentes são carregados apenas quando o usuário as solicita onde o restante ta página permanece estático, economizando no consumo de banda do servidor.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card text-justify">
                        <img src="../../../assets/imagens/site-responsivo-design.jpg" alt="sites responsivos" class="img-square img-responsive card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-center">Responsividade</h3>

                            <p class="card-text">Um site responsivo consiste em uma página que pode se adaptar aos mais variados tamanhos de telas diferentes, tanto para telas com resolução 1080p quanto 240p.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card text-justify">
                        <img src="../../../assets/imagens/seo-negretti-full-marketing.webp" alt="seo" class="img-square img-responsive card-img-top"/>
                        <div class="card-body">
                            <h3 class="card-title text-center">SEO</h3>

                            <p class="card-text">É um conjunto de estratégias elaboradas para potencializar e melhorar o posicionamento de um site nos resultados de busca fazendo com que o seu site fique mais próximo do topo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><br/>
</article>

<article id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                    Portfólio
                    <br/>
                    <small>
                      Nossos últimos trabalhos
                    </small>
                </h1>
            </div>
        </div>

        <div class="card text-center">
        <img class="img-thumbnail" src="../../../assets/imagens/primeiro-trabalho.png" width="30%" alt="Imagem do website da Recond Embreagem"/>
          <div class="card-img-top">
              <div class="card-body">
                  <h3 class="card-title">Recond Embreagem</h3>
                  <p class="card-text"></p>
                  <a target="_blank" href="https://eltonpds.github.io/recond-embreagem/" class="btn btn-primary">Visite a página</a>
              </div>
          </div>
        </div>
    </div>
</article>

<article id="sobre">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>
                    Sobre
                    <br/>
                    <small>
                        O criador do site
                    </small>
                </h1>
                <img src="../../../assets/imagens/perfil.jpeg" class="img-responsive img-circle" width="15%">
                <br/>

                <p class="text-justify">Sempre fui apaixonado por tecnologia. Comecei fazendo bicos de manutenção de computadores e notebook para amigos e familiares que me incentivou a estudar ainda mais sobre o assunto dando início a um aprendizado sem fim.</p>
                <p class="text-justify">A necessidade de aprender mais, obter mais conhecimento técnico para ter mais confiança no que estava fazendo e na grande demanda de profissionais qualificados na área me despertou o interesse de cursar <strong>Sistemas de Informação</strong>. Ampliou meus horizontes, despertou ainda mais desejo de me aprofundar na área e aprender um pouco soubre tudo.</p>
                <p class="text-justify">A paixão por tecnologia e a curiosidade de como se cria Websites fez com que buscasse aprender como se cria sites visando também a oportunidade de trabalhar na área, procurar clientes que possuem lojas, micro e pequenas empresas que não possuem websites e estão precisando de um para serem vistos nesse mercado digital. </p>
            </div>
        </div>
    </div>

</article>

<article id="contato" class="container-fluid">
    <div>
        <h1 class="text-center">Contato</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Entre em contato e responderemos dentro de 24 horas.</p>
            <p><i class="fas fa-map-marked-alt"></i> Recife, PE</p>
            <p><span class="glyphicon glyphicon-phone"></span> (81) 9 8133 6252</p>
            <p><span class="glyphicon glyphicon-envelope"></span>  eltonpereira505@gmail.com</p>
        </div>

        <div class="col-sm-6 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
                </div>

                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="E-mail" type="email" required>
                </div>
            </div>

            <textarea class="form-control" id="comments" name="comments" placeholder="Digite seu texto aqui" rows="5">
            </textarea><br/>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right mb-2" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</article>
</section>
