<div>
  <div class="card bg-dark text-white">
    <img src="../../../assets/foto_perfil.jpg" alt="Foto Perfil" />
    <div class="card-img-overlay">
      <h5 class="card-title">Elton Santos</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Pequeno resumo</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Desenvolvedor</li>
      <li class="list-group-item">Jaboatão dos Guararapes - PE</li>
      <li class="list-group-item">eltonpereira505@gmail.com</li>
      <li class="list-group-item">Telefone: 9 9999 9999</li>
    </ul>
    <div class="card-body">
      <p class="card-text">Cursos</p>
    </div>
    <ul class="list-group list-grou-flush">
      <li class="list-group-item">Udemy</li>
    </ul>
    <div class="card-body">
      <p class="card-text">Abilidades</p>
    </div>
    <ul class="list-group list-grou-flush">
      <li class="list-group-item">C#</li>
    </ul>
  </div>
</div>
